{
  "presets": [
    ["next/babel", {
      "preset-env": {
        "useBuiltIns": "usage"
      }
    }],
    "@zeit/next-typescript/babel",
  ],
  "plugins": [
    ["emotion"],
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "components" : "./components",
        "pages": "./pages",
        "theme" : "./theme"
      }
    }]
  ]
}
